# MongoDB connection settings
MONGO_HOST=your_mongo_host_here
MONGO_PORT=your_mongo_port_here
MONGO_USERNAME=your_mongo_username_here
MONGO_PASSWORD=your_mongo_password_here

# Apify settings
APIFY_TOKEN=your_apify_token_here
