# MongoDB connection settings
MONGO_HOST=your_mongo_host_here
MONGO_PORT=your_mongo_port_here
MONGO_USERNAME=your_mongo_username_here
MONGO_PASSWORD=your_mongo_password_here

# Apify settings
APIFY_TOKEN=your_apify_token_here
APIFY_DISPATCH_TIMEOUT_SECS=300
APIFY_CATEGORY_ACTOR_ID=
APIFY_CATEGORY_TASK_ID=
APIFY_CATEGORY_BUILD=
APIFY_CATEGORY_MEMORY_MBYTES=
APIFY_COMPETITOR_ACTOR_ID=
APIFY_COMPETITOR_TASK_ID=
APIFY_COMPETITOR_BUILD=
APIFY_COMPETITOR_MEMORY_MBYTES=
